/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
  padding-bottom: 22px;
}
.matrix__img {
  width: 100%;
}
.matrix__more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .matrix {
    text-align: center;
  }
}
.todo-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-addition__input,
.completed-task__input,
.incomplete-tasks__input,
.incomplete-tasks__label,
.completed-tasks__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-addition {
  display: flex;
  padding: 20px 0;
}
.incomplete-tasks,
.completed-tasks {
  margin: 0;
  padding: 0px;
}
.title {
  list-style: none;
}
.button-edit,
.button-delete,
.button-add {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}
.button-edit:hover,
.button-add:hover {
  color: #3a3A3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 23px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.incomplete-tasks__input, 
.completed-tasks__input, 
.task-addition__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}
.incomplete-tasks__input:focus, 
.completed-tasks__input:focus, 
.task-addition__input:focus {
  color: #333;
}

/* New Task */
.task-addition__label {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}
.button-add:hover {
  color: #0fc57c;
}

/* Task list */
.incomplete-tasks__item, 
.completed-tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.incomplete-tasks__item, 
.completed-tasks__item {
  vertical-align: middle;
}

.incomplete-tasks__checkbox, 
.completed-tasks__checkbox {
  margin: 0 10px;
}
.incomplete-tasks__label, 
.completed-tasks__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
/*two useless rules after this comment*/
.completed-task__input, 
.incomplete-tasks__input, 
.task-addition__input {
  width: 226px;
}
.button.delete:hover {
  color: #cf2323;
}
.button-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button-delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.incomplete-tasks__input, 
.completed-tasks__input {
  display: none;
}

.incomplete-tasks__item_edit-mode > .incomplete-tasks__input {
  display: inline-block;
  width: 224px;
}

.incomplete-tasks__item_edit-mode > .incomplete-tasks__label {
  display: none;
}